/*
Author: Tibault Gribaumont
Version: 1.1
Last update: 7th May 2018
Initial scale: Small laptops => 1024px - 1224px
*/


/*
Table of Contents

1.0 Reset
2.0 Elements
    2.1 General
3.0 Header
    3.1 General
    3.2 Nav
4.0 Content
    4.1 Index
    4.2 Menu
5.0 Footer
6.0 Responsive
    6.1 Smartphones (portrait and landscape) => 320px - 48Opx
    6.2 Smartphones (landscape) => 48O+ px
    6.3 Smartphones (landscape)
    6.3 iPads (portrait) => 768px - 1024px & portrait
    6.4 iPads (landscape) => 768px - 1024px & landscape
    6.5 Smaller laptops => 780- px
    6.6 Smaller laptops => 1024- px
    6.7 Desktops and laptops => 1224+ px
    6.8 Large screens => 1824+ px
*/

/*

*  1.0 Reset

*  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*

*  2.0 Elements

*/

/* 2.1 General */

html {
    font-family: 'Ubuntu';
    font-weight: 400;
}

body {
    background-color: #fdfdfd;
    color: #042240;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
    font-weight: 700;
    margin: 0;
}

h1 {    
    /*font-size: 4em;*/
}

h2 {
    /*font-family: 'Black Han Sans';*/
    /*font-weight: 400;*/
    font-size: 4em;
    /*margin-bottom: 20px;*/
}

p {
    line-height: 1.3em;
}

a {
    text-decoration: none;
    /*color: #f2f9ff;*/
}

ul li a,
ol li a {
    /*color: #042240;*/
}

.clearfix {
    clear: both;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.page-link {
    color: #4474a3;
}

/* 2.2 Forms */

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
}

form input,
form select,
form textarea {
    font-size: 1.2em;
    margin: 10px 0 20px;
    width: 100%;
}

form input,
form select {
    /*width: 50%;*/
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
}

form textarea {
    background-color: rgba(255,255,255,0.8);
}

form input:focus,
form select:focus,
form textarea:focus {
    outline-style: solid;
    outline-color: #4474a3;
    outline-width: 3px;
    background-color: rgba(255,255,255,1);
}

form input[type=submit] {
    width: 150px;
    height: 3em;
    display: inline-block;
    border: none;
    background-color: #4474a3;
    color: #f2f9ff;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(68,116,163,0.8);
}

form input[type=submit]:hover {
    background-color: rgba(68,116,163,1);
}

/* 2.3 Buttons */

.btn-primary {
    background-color: #4474a3;
    border-color: #4474a3;
}

/*

*  3.0 Header

*/

/* 3.1 General */

#mainHeader {
    display: inline-block;
    width: 100%;
    padding: 1em 0;
}

#mainHeader h1 {
    float: left;
    margin-right: 50px;
    line-height: 50px;
    font-size: 2.5em;
}

/*#mainHeader h1 img {*/
#mainHeader  img {
    float: left;
    height: 50px;
}

/*#mainHeader h1 span {
    line-height: 2em;
}*/

#mainHeader #language {
    float: right;
    line-height: 50px;
    padding: 0 30px 0 10px;
    font-size: 1.5em;
    margin-left: 50px;
}

/* 3.2 Nav */

#mainHeader .nav {
    /*float: right;*/
    /*margin: 0 30px;*/
}

#mainHeader .nav .nav-link {
    line-height: 50px;
    padding: 0;
    font-size: 2em;
    margin: 0 2px;
}

#mainHeader a {
    color: #4474a3;
}

#mainHeader .nav-pills .nav-link.active,
#mainHeader .nav-pills .nav-link:hover,
#mainHeader .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #4474a3;
}

/*

*  4.0 Content

*/



/* 4.1 General */


/* 4.2 Index */

.jumbotron-fluid {
    height: 500px;
    background: url('../images/snack-2635035_1920.jpg') center 70% no-repeat;
    background-size: cover;
}

.jumbotronContent {
    height: 500px;
    padding: 250px 100px 0;
    background-color: rgba(255,255,255,0.1);
}

.jumbotronContent h2 {
    display: inline-block;
    float: left;
    font-weight: 700;
    color: #fff;
}

.jumbotronContent .btn-primary {
    display: inline-block;
    float: right;
    line-height: 50px;
    padding: 0 30px;
    font-size: 2em;
    margin-top: 1em;
}

.indexRibbon {
    padding: 80px 100px;
    font-size: 1.5em;
    /*background: linear-gradient(to top right, #ecffe7, #aec6a7);*/
    /*background: linear-gradient(to top right, #d9f2d0, #8fa787);*/
}

.indexRibbon span {
    font-style: italic;
    display: block;
    margin: 15px 150px 0 0;
    text-align: right;
}

#localProducts img {
    display: inline-block;
    margin: 30px auto 0;
    height: 130px;
    padding: 0 30px;
}

#indexContent {
    background: url('../images/table-791167_1280.jpg') fixed center center no-repeat;
    background-size: cover;
    color: #fff;
}

#indexContent #specialOffers {
    padding: 0 30px;
}

#indexContent #bookingTable h3 {
    margin: 1em 0 0.5em;
}

.row h3 {
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
}

#indexContent .col-sm-12 {
    /*background-color: rgba(255,255,255,0.1);*/
    background-color: rgba(0,0,0,0.7);
}

#indexContent .col-lg-6 {
    border-left: 1px solid #fdfdfd;
    border-right: 1px solid #fdfdfd;
}

.offerSlogan {
    text-align: center;
    padding: 0 2em 2em;
    font-size: 1.5em;
    font-weight: 700;
    color: red;
    transform: rotate(-20deg);
    margin-top: 4em;
}

.offersItem {
    margin-bottom: 4em;
}

#indexContent .col-lg-6 {
    text-align: center;
}

#indexContent .col-lg-6 h3 {
    margin-top: 100px;
    border-radius: 60px;
    background-color: #4474a3;
    display: inline-block;
    height: 120px;
    width: 120px;
    padding: 30px 25px;
    text-transform: uppercase;
}

#indexContent .col-lg-6 p {
    font-size: 1.5em;
    padding: 0 50px;
}

#bookingForm input[type="submit"] {
    margin: 10px auto 20px;
    display: block;
}

#bookingForm label {
    font-weight: 700;
}

/*.customerReview::before {
    content: "\f005";
    width: 20px;
    height: 20px;
    display: block;
}*/

/* 4.3 Menu */

#menuNav {
    border-top: 1px solid #4474a3;
    border-bottom: 1px solid #4474a3;
    padding-bottom: 20px;
}

#menuNav h3 {
    margin: 0.5em 0;
}

#menuNav a {
    color: #042240;
}

.menuRibbon {
    text-align: center;
}

.menuRibbon h2 {
    display: block;
    width: 100%;
    padding: 20px 0;
}

.menuSection {
    /*padding-top: 50px;*/
}

.menuSection h3 {
    margin-top: 0;
    display: block;
    width: 100%;
    text-align: left;
}

.menuSection .col-12 {
    margin-bottom: 50px;
}

.menuSection .col-12 .burgerName,
.menuSection .col-12 .burgerPrice {
    display: inline-block;
}

.menuSection .col-12 .burgerName {
    margin: 0 0 10px;
    text-align: left;
    font-size: 1.2em;
    width: 60%;
}

.menuSection .col-12 .burgerName .spicy {
    position: relative;
    bottom: 10px;
    margin-left: 10px;
}

.menuSection .col-12 .burgerName .spicy::after {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    background-image: url(../images/769759_hot_512x512.png);
    background-size: cover;
    position: relative;
/*    top: 5px;*/
    bottom: 3px;
    float: right;
}

.menuSection .col-12 .burgerName .spicy.spicy2::after {
    width: 40px;
    background-repeat: repeat-x;
    background-size: contain;
}

.menuSection .col-12 .burgerName .spicy.spicy3::after {
    width: 60px;
    background-repeat: repeat-x;
    background-size: contain;
}

.menuSection .col-12 .burgerIngredients {
    padding-right: 10%;
}

.menuSection .menuOptionsList {
    width: 100%;
}

.menuSection .menuOptionsList li {
    display: inline-block;
}

/*#beefBurgers, #customBurgers {
    background-color: #4484ce;
}

#chickenBurgers, #foodMisc {
    background-color: #f19f4d;
}

#fishBurgers, #foodDessert {
    background-color: #008f95;
}*/

#beefBurgers {
    background: url('../images/burger-2018627_1920.jpg') center center no-repeat;
    background-size: cover;
}

#chickenBurgers {
    background: url('../images/burger-1830696_1280.jpg') center 60% no-repeat;
    background-size: cover;
}

#fishBurgers {
    background: url('../images/burgers-1976198__480.jpg') center 30% no-repeat;
    background-size: cover;
}

#veganBurgers {
    background: url('../images/veggie-2281212_1920.jpg') center 10% no-repeat;
    background-size: cover;
}

#customBurgers {
    background: url('../images/ketchup-617231_1280.jpg') center 10% no-repeat;
    background-size: cover;
}

#foodMisc {
    background: url('../images/food-1553300_1280.jpg') center center no-repeat;
    background-size: cover;
}

#drinks .alcool {
    background: url('../images/drink-3313605_1280.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
}

#drinks .softsDigestive {
    background: url('../images/whisky-3313592_1280.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
}

#foodDessert {
    background: url('../images/eszterhazyschnitte-626109_1280.jpg') center center no-repeat;
    background-size: cover;
}

#beefBurgers .col-sm-12,
#chickenBurgers .col-sm-12,
#fishBurgers .col-sm-12,
#veganBurgers .col-sm-12,
#customBurgers .col-sm-12 {
    padding-top: 50px;
}

#beefBurgers .col-sm-12,
#fishBurgers .col-sm-12 {
    background-color: rgba(0,0,0,0.7);
    color: #fdfdfd;
}

#chickenBurgers .col-sm-12,
#veganBurgers .col-sm-12 {
    background-color: rgba(255,255,255,0.7);
    color: #042240;
}

#customBurgers .menuOptionsList li,
#foodMisc .menuOptionsList li,
#foodDessert .menuOptionsList li,
.drinksSection li {
    margin-bottom: 30px;
}

#customBurgers .col-12 {
    padding-bottom: 20px;
    margin-bottom: 0;
}

#customBurgers .col-sm-12,
#customBurgers .col-12 {
    background-color: rgba(255,255,255,0.7);
    color: #042240;
}

#customBurgers .col-sm-12 .col-12 {
    background: none;
}

#foodMisc .col-sm-12 {
    background-color: rgba(0,0,0,0.7);
    color: #fdfdfd;
}

#foodMisc  .col-sm-12 {
    padding: 50px 15px;
}

#foodDessert .col-sm-12 {
    padding: 50px 15px 0;
}

#foodMisc .col-sm-12 .col-12 {
    margin-bottom: 0;
} 

#foodMisc .col-sm-12 .col-12 h3 {
    font-size: 1em;
}

#drinks .alcool .col-sm-12 {
    background-color: rgba(255,255,255,0.7);
    color: #042240;
}

#drinks .softsDigestive .col-sm-12 {
    background-color: rgba(0,0,0,0.7);
    color: #fdfdfd;
}

#drinks .col-sm-12 {
    padding-top: 50px;
}

#foodDessert .col-sm-12 {
    background-color: rgba(255,255,255,0.7);
    color: #042240;

}

.menuSection .genericCategoryTitle {
    display: inline-block;
    width: auto;
}

.menuSection .categoryPrice {
    margin-left: 10px;
}

/* 4.4 Gallery */

#gallery {
    padding: 50px 10%;
}

#gallery nav {
    margin: 30px auto 0;
}

#gallery img {
    /*width: 100%;*/
    padding: 10px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

/* 4.5 Find us */

#findusContent {
    padding: 50px 0;
}

#findusContent .col-lg-4 p {
    padding-left: 20%;
    text-align: left;
}

#map .info_content p span,
#findusContent .col-lg-4 p span {
    /*margin-right: 5px;*/
    width: 25px;
    display: inline-block;
}

#findusContent .col-lg-4 a {
    color: #042240;
}

#findusContent #openingHours {
    font-size: 1.5em;
    width: 100%;
    padding: 50px 0 0;
}

#findusContent .restaurantPic {
    margin: 10px 0;
}

#map {
    height: 100vh;
}

#map .info_content h3 {
    margin: 0 0 1em;
}

/* 4.6 Contact */

#contactContent {
    background: url('../images/writing-pad-3229690.jpg') fixed center center no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fdfdfd;
}

#contactContent .row {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    padding: 0 50px;
}

#contactContent h3 {
    width: 100%;
    text-transform: uppercase;
}

#contactContent #contactForm {
    width: 100%;
}

#contactContent #contactForm fieldset {
    float: left;
    width: 50%;
    padding: 0 10px;
}

#contactContent #contactForm .fieldsetTextarea {
    width: 100%;
}

#contactContent #contactForm textarea {
    height: 200px;
    width: 100%;
}

#contactContent #contactForm input[type="submit"] {
    display: block;
    margin: 10px auto 20px;
    font-size: 1.2em;
}

#contactContent #contactForm label {
    font-size: 1.2em;
    font-weight: 700;
}

/*

*  5.0 Footer

*/

#mainFooter {
    background-color: #4474a3;
    /*height: 50px;*/
    color: #f2f9ff;
}

#mainFooter a {
    color: #fff;
}

#mainFooter .row {
    /*background: url("../images/food-949388_1280.png") center center no-repeat;*/
    background: url("../images/food-2126372_1280.jpg") center 35% no-repeat;
    background-size: cover;
}

#mainFooter .row .col-lg-4 {
    padding: 0 50px;
    background-color: rgba(255,255,255,0.1);
}

#mainFooter .row img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

#mainFooter #footerLogo h3 {
    margin-top: 0;
}

#mainFooter #footerSocial li {
    margin-bottom: 0.5em;
    display: inline-block;
    margin: 0 40px 30px;
}

#mainFooter #footerSocial li:last-child {
    margin-bottom: 0;
}

/*#mainFooter #footerSocial a {
    line-height: 2em;
}*/

#mainFooter #footerSocial a i {
    font-size: 4em;
}

#mainFooter #copyright {
    /*display: block;*/
    text-align: center;
    line-height: 50px;
}

#mainFooter #img {
    width: 20px;
    position: relative;
    top: 2px;
}

/*

*  6.0 Responsive

*/

/* 6.1 Max 1150 */

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-width : 480px) {
    
}

/* Smartphones (landscape) */
@media only screen and (min-width : 480px) and (max-width : 780px) {
    
}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* Smaller laptops */
@media only screen and (max-width : 780px) {
    
    #mainHeader a {
        display: inline-block;
    }
    
    .navbar {
        display: block !important;
        position: static;
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(68,116,163, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    
    nav .nav-pills.nav-fill {
        display: block;
    }
    
    .jumbotron-fluid {
        height: 200px;
    }
    
    .jumbotronContent {
        padding: 50px;
        height: 200px;
    }
    
    .jumbotronContent h2 {
        font-size: 2em;
    }
    
    .indexRibbon {
        padding: 20px;
    }

}

/* Smaller laptops */
@media only screen and (min-width : 781px) and (max-width : 1024px) {
    
}

/* Desktops and laptops */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens */
@media only screen  and (min-width : 1824px) {
/* Styles */
}